body {
    background-color: rgb(82, 86, 89);
}
.grid2{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
}
#text_editor{
  display: none;
}
#text_editor.active{
  display: block;
}
canvas, .canvas-container {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.toolbar {
    width: 100%;
    background-color: rgb(50, 54, 57);
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

#pdf-container {
    margin-top: 60px;
    padding-left: 10px;
    text-align: center;
}

button:focus {
    outline: 0;
}

.toolbar .tool {
    display: inline-block;
    color: #fff;
    height: 100%;
    padding-top: 10px;
    padding-left: 10px;
    margin-right: 5px;
}

.toolbar .tool label,
.toolbar .tool select,
.toolbar .tool input {
    display: inline-block;
    width: auto;
    height: auto !important;
    padding: 0;

}

.toolbar .tool input {
    width: 50px;
}

.toolbar .tool .color-tool {
    height: 25px;
    width: 25px;
    border-radius: 25px;
    border: 0;
    cursor: pointer;
    display: inline-block;
}

.toolbar .tool .color-tool.active {
    -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
}

.toolbar .tool:nth-last-child(1) {
    float: right;
}

.toolbar .tool .tool-button {
    background-color: rgb(50, 54, 57);
    border: 1px solid rgb(50, 54, 57);
    color: #fff;
    cursor: pointer;
}

.toolbar .tool .tool-button:hover,
.toolbar .tool .tool-button.active {
    background-color: rgb(82, 86, 89);
    border-color: rgb(82, 86, 89);
}

canvas, .canvas-container {
    margin-bottom: 25px;
}

.canvas-container {
    margin-left: auto;
    margin-right: auto;
}

.container {
    background-color: #ffffff;
    width: 90vmin;
    padding: 50px 30px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 10px;
    box-shadow: 0 25px 50px rgba(7, 20, 35, 0.2);
  }
  .options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
  }
  button {
    height: 28px;
    width: 28px;
    display: grid;
    place-items: center;
    border-radius: 3px;
    border: none;
    background-color: #ffffff;
    outline: none;
    color: #020929;
  }
  select {
    padding: 7px;
    border: 1px solid #020929;
    border-radius: 3px;
  }
  .options label,
  .options select {
    font-family: "Poppins", sans-serif;
  }
  .input-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 40px;
    height: 28px;
    border: none;
    cursor: pointer;
  }
  input[type="color"]::-webkit-color-swatch {
    border-radius: 15px;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
  }
  input[type="color"]::-moz-color-swatch {
    border-radius: 15px;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
  }
  #text-input {
    margin-top: 10px;
    border: 1px solid #dddddd;
    padding: 20px;
    height: 50vh;
  }
  .active {
    background-color: #e0e9ff;
  }
  